<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head lang="en">
  <title th:text="#{app.title}"> Title </title>
  <link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body>
<h1 th:text="#{app.user-details}">Details</h1>
<table>
  <tr>
    <th th:text="#{user.id}"/>ID</th>
    <th th:text="#{user.login}"/>Login</th>
    <th th:text="#{user.firstName}">Yakhya</th>
    <th th:text="#{user.lastName}">Dabo</th>
  </tr>
  <tr th:each="user : ${userList}">
    <td><a th:text="${user.id}" th:href="@{'/user/' + ${user.id}}">1000</a></td>
    <td th:text="${user.login}">ydabo</td>
    <td th:text="${user.firstName}">Yakhya</td>
    <td th:text="${user.lastName}">Dabo</td>
  </tr>
</table>
<a href="#" th:href="@{/user/new}" th:text="#{user.add-more-users}">Add User</a>
</body>
</html> 