<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head lang="en">
  <title th:text="#{app.title}"> Title </title>
  <link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body>
<h1 th:text="#{app.create-user}">View</h1>

  <table>
    <tr>
      <td th:text="#{user.id}"/>ID</td>
      <td th:text="${userView.id}">10000</td>
    </tr>

    <tr>
      <td th:text="#{user.login}">Login</td>
      <td th:text="${userView.login}">mylogin</td>
    </tr>

    <tr>
      <td th:text="#{user.firstName}">First name</td>
      <td th:text="${userView.firstName}">My first name</td>
    </tr>

    <tr>
      <td th:text="#{user.lastName}">Last name</td>
      <td th:text="${userView.lastName}">My last name</td>
    </tr>

  </table>
</body>
</html>