<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head lang="en">
  <title th:text="#{app.title}"> Title </title>
  <link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body>
<h1 th:text="#{app.create-student}">Create</h1>
<form action="#" th:action="@{/students/save}" th:object="${studentForm}" method="POST">
  <table>
    
    <tr><td th:text="#{student.personalNumber}"></td>
      <td>
        <input type="text" th:field="*{personalNumber}" />
        <label th:if="${#fields.hasErrors('personalNumber')}" th:text="#{error.student.personalNumber}" th:class="'error'">Personal Number Error</label>
      </td>
    </tr>
    
    <tr><td th:text="#{student.firstName}"></td>
      <td>
        <input type="text" th:field="*{firstName}" />
        <label th:if="${#fields.hasErrors('firstName')}" th:text="#{error.student.firstName}" th:class="'error'">First name Error</label>
      </td>
    </tr>
    
    <tr><td th:text="#{student.lastName}"></td>
      <td>
        <input type="text" th:field="*{lastName}" />
        <label th:if="${#fields.hasErrors('lastName')}" th:text="#{error.student.lastName}" th:class="'error'">Last Name Error</label>
      </td>
    </tr>

    <tr><td th:text="#{student.dateOfBirth}"></td>
      <td>
        <input type="text" th:field="*{dateOfBirth}"  id="datepicker" contenteditable="false" placeholder="DD/MM/YYYY" class="form-control" />
        <label th:if="${#fields.hasErrors('dateOfBirth')}" th:text="#{error.student.dateOfBirth}" th:class="'error'">Date of Birth Error</label>
      </td>
    </tr>

    <tr><td th:text="#{student.lastName}"></td>
      <td>
        <select th:field="*{education}">
          <option value="" selected="selected" th:text="#{student.form.field.none}">None</option>
          <option
              th:each="education : ${T(org.yakhya.sample.domain.enums.Education).values()}"
              th:value="${education}"
              th:text="${education.name}"
              th:classappend="!*{education} ? 'valid'"
              th:errorclass="error"/>
        </select>
        <label th:if="${#fields.hasErrors('education')}" th:text="#{error.student.education}" th:class="'error'">Education Error</label>
      </td>
    </tr>

    <tr><td th:text="#{student.nationality}"></td>
      <td>
        <select th:field="*{countryCode}">
          <option value="" selected="selected" th:text="#{student.form.field.none}">None</option>
          <option th:if="${nationalityList.rows !=null }" th:each="nationality : ${nationalityList.rows}"
                  th:value="${nationality.code}"
                  th:text="${nationality.name}"/>
        </select>
        <label th:if="${#fields.hasErrors('countryCode')}" th:text="#{error.student.nationality}" th:class="'error'">Nationality Error</label>
      </td>
    </tr>
    
    <tr><td colspan="2">
      <input type="submit" th:value="#{student.form.submit}"/>
      <input type="reset" th:value="#{student.form.reset}"/>
    </td>
    </tr>
  </table>
</form>
</body>
</html>